*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
[class*="col-"]{
    background-color: rgba(128, 0, 60, 0.384);
    text-align: center;
    /* line-height: 200px; */
    vertical-align: middle;
    border: 2px solid black;
}
[class*="col-"]{
    height: 200px;
    position: relative;
}

.container .row:last-child > [class*="col-"]{
    /* padding: 8px 16px; */
    /* height: auto; */
    /* width: auto; */
}
.nested{
    /* margin: -10px; */
}
[class*="col-"] .row [class*="col-"] {
    background-color: aqua;
    border-color: white;
    height: 180px;
    /* width: auto; */
    /* margin: 10px 10px; */
    /* padding: 8px 16px; */
    /* position: relative;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px; */
}
[class*="col-"] p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container{
    border: 1px solid black;
    /* z-index: 2; */
}
