*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
[class*="col-"]{
    background-color: rgba(128, 0, 60, 0.384);
    text-align: center;
    /* line-height: 200px; */
    vertical-align: middle;
    border: 1px solid black;
}
[class*="col-"]{
    height: 200px;
    position: relative;
    padding: 5px;
}

[class*="col-"] .row [class*="col-"] {
    background-color: aqua;
    border-color: white;
    height: 186px;
}
[class*="col-"] p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container{
    border: 2px solid black;
    /* z-index: 2; */
}
